.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  h2 {
    width: 100%;
    padding: 5px 10px;
    text-decoration: underline;
  }

  .category:not(:first-of-type) {
    margin: 10px;
  }
  .category {
    width: 100%;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;

      .header__subtitles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 15px 0;
      }
      .header__total,
      .header__remaining,
      .header__priority {
        text-align: center;
      }

      .header__title {
        margin: 0 0 15px 0;
      }
      .header__total {
      }
      .header__remaining {
      }
      .header__priority {
        transform: scale(1.5);
        width: 5%;
      }
    }
    .body {
      .itemList {
        padding: 10px;
        background-color: var(--item-background-color);
        box-shadow: var(--box-shadow);
        border: var(--border-color);
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 5px;
          &:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          }

          .count {
            text-align: right;
            width: 30%;
          }

          .item__total,
          .item__remaining,
          .item__priority {
            text-align: center;
            font-weight: bold;
          }

          .item__name {
            width: 50%;
          }
          .item__total {
            width: 10%;
          }
          .item__remaining {
            width: 30%;
          }
          .item__priority {
            transform: scale(1.5);
            width: 5%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h2 {
      width: 100%;
      padding: 5px 10px;
      text-decoration: underline;
    }

    .category:not(:first-of-type) {
      margin: 10px;
    }
    .category {
      width: 47%;
      margin: 10px;
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header__subtitles {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 0 0 5px 0;
        }
        .header__total,
        .header__remaining,
        .header__priority {
          text-align: center;
        }

        .header__title {
        }
        .header__total {
        }
        .header__remaining {
        }
        .header__priority {
        }
      }
      .body {
        .itemList {
          padding: 10px;
          background-color: var(--item-background-color);
          box-shadow: var(--box-shadow);
          border: var(--border-color);
          .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 5px;
            &:not(:last-child) {
              border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            }

            .item__total,
            .item__remaining,
            .item__priority {
              text-align: center;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  // Item CSS

  // .item {
  //   display: flex;
  //   justify-content: space-evenly;
  //   align-items: center;
  //   padding: 10px 5px;
  //   &:not(:last-child) {
  //     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  //   }

  //   .name {
  //     width: 50%;
  //   }

  //   .total {
  //     width: 10%;
  //     text-align: center;
  //   }

  //   .remaining {
  //     width: 25%;
  //     text-align: center;
  //   }

  //   .remaining {
  //   }
  //   input[type="checkbox"] {
  //     transform: scale(1.5);
  //     width: 15%;
  //     text-align: center;
  //   }
  // }

  // Items CSS

  // .item-header {

  //   .heading {
  //     width: 50%;
  //     h3 {
  //       margin: 0 0 5px 0;
  //     }
  //   }

  // .itemlist {
  //   padding: 10px;
  //   background-color: var(--item-background-color);
  // }
}
