.module {
  width: 100%;
  margin: 10px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    .header__subtitles {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0 0 5px 0;
    }

    .header__title {
      display: flex;
      margin: 0 0 10px 0;
    }

    .header__level {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: 2px solid #fff;
    }

    .header__complete {
      transform: scale(1.5);
      width: 5%;
      text-align: center;
      svg {
        stroke-width: 0.3;
        fill: #ffffff;
      }
    }

    .header__need {
      text-align: right;
    }
  }

  .body {
    padding: 10px;
    background-color: var(--item-background-color);
    box-shadow: var(--box-shadow);
    border: var(--border-color);
    .item-list:nth-child(1):not(:last-child) {
      margin: 0 0 20px 0;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 5px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }

      .item__name {
        width: 50%;
      }
      .item__have {
        width: 20%;
      }
      .item__need {
        width: 30%;
        text-align: right;
      }
      .item__complete {
        width: 5%;
        transform: scale(1.5);
      }

      .item__need,
      .item__complete {
        text-align: right;
      }
    }
    .other_requirments {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 10px 0;
      h5 {
        text-decoration: underline;
        margin: 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        flex: 1 1 31.5%;
        padding: 5px;
        margin: 5px;
        background: #444;

        li {
          width: 100%;
        }
      }

      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0 10px 5px;
        border: none;
      }

      .item__level {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin: 0 10px 0 0;
        border: 2px solid #fff;
      }

      .title {
        padding: 10px 5px;
      }
    }
    .extras {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      .markComplete,
      .prioritize {
        display: block;
      }

      .markComplete {
        order: 2;
      }
      .prioritize {
        margin: 0 5px 15px 5px;
        order: 1;
      }
      label {
        display: inline-block;
        margin: 0 20px 0 0;
      }
      input {
        transform: scale(1.5);
        margin: 0 5px 0 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .module {
    width: 47%;
    margin: 25px 10px;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;

      .header__subtitles {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 0 5px 0;
      }
      .header__title {
        display: flex;
        margin: 0 0 15px 0;
        width: 80%;
      }

      .header__level {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        border: 2px solid #fff;
      }

      .header__need,
      .header__complete {
        transform: scale(1.5);
        width: 5%;
      }
    }

    .body {
      padding: 10px;
      background-color: var(--item-background-color);
      box-shadow: var(--box-shadow);
      border: var(--border-color);
      .item-list:nth-child(1):not(:last-child) {
        margin: 0 0 20px 0;
      }

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

        .item__name {
          width: 50%;
        }
        .item__have {
          width: 20%;
        }
        .item__need {
          width: 30%;
        }
        .item__complete {
          width: 5%;
          transform: scale(1.5);
        }

        .item__need,
        .item__complete {
          text-align: center;
        }
      }
      .other_requirments {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 10px 0;
        h5 {
          text-decoration: underline;
          margin: 0;
        }
        ul {
          display: flex;
          flex-direction: column;
          flex: 1 1 31.5%;
          padding: 5px;
          margin: 5px;
          background: #444;

          li {
            width: 100%;
          }
        }

        .item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 10px 0 10px 5px;
          border: none;
        }

        .item__level {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 32px;
          height: 32px;
          border-radius: 16px;
          margin: 0 10px 0 0;
          border: 2px solid #fff;
        }

        .title {
          padding: 10px 5px;
        }
      }

      .extras {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        .markComplete,
        .prioritize {
          display: block;
        }

        .markComplete {
          order: 1;
        }
        .prioritize {
          margin: 0;
          order: 2;
        }
        label {
          display: inline-block;
          margin: 0 20px 0 0;
        }
        input {
          transform: scale(1.5);
          margin: 0 5px 0 0;
        }
      }
    }
  }
}
