.donate {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  img {
    margin: 0;
  }
  a {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    margin: 25px;
  }
}

@media screen and (min-width: 768px) {
  .donate {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    img {
      margin: 0;
    }
    a {
      border: 1px solid white;
      border-radius: 10px;
    }
  }
}

.navigationMenus {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  .underline {
    text-decoration: underline;
    margin: 0 2px;
  }

  ul {
    a {
      margin: 0 10px 0 10px;
      text-decoration: none;
      font-size: 1.2rem;
    }
    span {
      font-size: 1.2rem;
    }
  }

  ul:first-of-type {
    order: 2;
    text-align: center;
    margin: 0 0 50px 0;
    li:first-of-type {
      height: 85px;
    }
  }

  ul:last-of-type {
    order: 1;
    display: flex;
    justify-content: center;

    align-items: flex-start;
    margin: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .navigationMenus {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    ul {
      display: flex;
      li {
        margin: 0 10px 0 0;
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
    ul:first-of-type {
      display: flex;
      flex-direction: column;
      order: 1;
      text-align: left;
      margin: 0;
      h1 {
        margin: 0 0 10px 0;
      }
      span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.2rem;
      }

      a {
        margin: 0;
      }
      li:first-of-type {
        height: 50px;
      }
    }

    ul:last-of-type {
      margin: 0;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;

        a {
          display: flex;
          flex-direction: row;
          align-items: center;

          svg {
            margin-left: 5px;
          }
        }
        span {
          display: flex;
          align-items: center;
          svg {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
