.progressBar {
  margin: 0 0 25px 0;
  .progressBar__title {
    color: rgba(255, 255, 255, 0.5);
  }
  .progressBar__percentage {
    margin: 0 0 15px 0;
  }
  .progressBar__bar {
    background-color: #333;
    height: 40px;
    border-radius: 20px;
    position: relative;
    box-shadow: var(--box-shadow);
    span {
      background-color: #fff;
      position: absolute;

      height: 100%;
      border-radius: 20px;
      top: 0;
      left: 0;
    }
  }
}
